<div id="team" class="page">

  <div class="divided title">
    Tracks
  </div>

  <div class="ui page grid">

      <div class="divided small title" style="margin: auto;">
        Check Out Our Tracks
      </div>

      <p>Need some inspiration for a project idea? Interested in awesome prizes provided by our sponsors? You're in luck! At MAHacks III, we're introducing <b>tracks</b>.</p>

      <p>You can choose to submit a project in one of our tracks and be eligible for special awards. We're excited to see what real-world problems you'll solve!</p>

      <div class="ui two item menu">
        <div class="item" style="display: block; padding: .8rem 1rem 1rem !important;">
          <h3 class="small title">Medical Technology</h3>
          <p>Help solve a problem in the medical industry and you could win the chance to continue your project with Boston Children's Hospital! More information coming soon.</p>
        </div>

        <div class="item" style="display: block; padding: .8rem 1rem 1rem !important;">
          <h3 class="small title">Education</h3>
          <p>Being high school students ourselves, education is a huge part of our lives. How can we improve current education technologies? How can we get people excited about learning? More information coming soon.</p>
        </div>
      </div>

  </div>

</div>