<div id="team" class="page">
  <div class="divided title">
    Tracks
  </div>
  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui segment">
        <div class="divided title">
          Check Out Our Tracks
        </div>

        <p>Need some inspiration for a project idea? Interested in awesome prizes provided by our sponsors? You're in luck! At MAHacks III, we're introducing <b>tracks</b>.</p>

        <p>You can choose to submit a project in one of our tracks and be eligible for special awards. We're excited to see what real-world problems you'll solve!</p>

        <div class="ui two item menu">
          <div class="item">
            Medical Technology
          </div>

          <div class="item">
            Entrepreneurship
          </div>
        </div>

        <!--Put descriptions of tracks here-->
      </div>
    </div>
  </div>

</div>